
<h1>Simulator</h1>

<form method="post" action="/errorcodes" novalidate>
  
  <div class="form-field">
    <label for="email">Topic</label>
    <input class="input" id="topic" name="topic" type="topic" value="rpt/errorcodes" />
  </div>
  <div class="form-field">
    <label for="message">Message</label>
    <textarea class="input" id="message" name="message" rows="4"></textarea>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Publish</button>
  </div>
</form>
